# Setting up the environment

In [9]:
import pandas as pd

# Import consumption files

In [37]:
file_path = "C:\\Users\\raque\Documents\\Data Analytics\\Renewable Energy Project\\data\\PORDATA_Production-by-energy-product.xlsx"
file_sheet_name = "Table1"

df_production = pd.read_excel(file_path, sheet_name = file_sheet_name)

df_production

          energy_product              country  year  production
0            Solid fuels         DE - Germany  1990    121689.2
1            Solid fuels         DE - Germany  1991    106085.5
2            Solid fuels         DE - Germany  1992     97596.0
3            Solid fuels         DE - Germany  1993     87729.1
4            Solid fuels         DE - Germany  1994     80909.0
...                  ...                  ...   ...         ...
4635  Renewable energies  UK - United Kingdom  2017     15450.0
4636  Renewable energies  UK - United Kingdom  2018     16807.0
4637  Renewable energies  UK - United Kingdom  2019     17526.0
4638  Renewable energies  UK - United Kingdom  2020         0.0
4639  Renewable energies  UK - United Kingdom  2021         0.0

[4640 rows x 4 columns]